article{
    margin-left: 25px;
    width: 45%;
}

button{
    background-color: #3c83c0;
    border: none;
    border-radius: 8px;
    color: #ffffff;
    outline: none;
    font-weight: bold;
    
    margin-left: 160px;

    height: 38px;
    width: 15%;
}

button:hover{
    background-color: #ffffff;
    border: solid #3c83c0 1px;
    color: #3c83c0;
    cursor: pointer;
}

form{
    border-right: solid #3c83c0 1px;
    display: flex;
    flex-direction: column;

    width: 30%;
}

input{
    border: solid #DCDCDC 1px;
    border-radius: 8px;
    font-size: 12pt;
    outline: none;

    margin: 5px 0 5px 0;
    padding: 5px;

    height: 26px;
}

input[type="text"]{
    width: 90%;
}

h2{
    margin: 0;
}

label{
    align-items: center;
    display: flex;
    margin: 5px 5px 5px 25px;

    height: 38px;
}

p{
    color: #808080;
    font-size: 10pt;
}

select{
    border: solid #DCDCDC 1px;
    border-radius: 4px;
    outline: none;

    margin: 15px 0 15px 0;

    width: 45%;
}

.doctor-register-labels{
    display: flex;
    flex-direction: column;
}

.register-container{
    display: flex;
    flex-direction: row;
}